.about{
    background-color: #e0dddd;
    padding: 30px 70px 50px;
}

.about p{
    text-align: justify;
}

.about img{
    margin-bottom: -12px;
}

.about_down{
    color: blue;
    float: right;
}

.about_down:hover{
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (max-width:786px) {
    .about{
        background-color: #e0dddd;
        padding: 20px 15px 40px;
    }

    .about p{
        font-size: .9rem;
    }
}